body {
    background-image: url("../img/stonehaven.png");
}

#index_container {

}

.index_title {
    text-align: center;
    color: green;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

#userlist_container {
    margin-left: 10px;
    border: 1px solid black;
    padding-right: 40px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 200px;
    max-height: 800px;

    position: absolute;
    z-index: 10;
    left: 8px;
}

#userlist {
    list-style: none;
    overflow: hidden;
}

#userlist li {
    margin: 5px;
}

.marked_listitem {
    background-color: deepskyblue;
}

#userlist li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#right_container {
    text-align: center;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    max-width: 220px;

    position: absolute;
    z-index: 10;
    right: 8px;
}

#login_container {
    overflow: hidden;
    margin-right: 30px;
}

#info_container {
    overflow: hidden;
}


#name_input {
    width: 150px;
    height: 35px;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

#login_btn {
    margin-top: 10px;
    height: 30px;
    background: #e8491d;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 25px;
}
#login_btn:hover {
    background: blue;
    cursor: pointer;
}

#login_btn_clicked {
    margin-top: 10px;
    height: 30px;
    background: grey;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 25px;
}

#middlesection {
    text-align: center;
    overflow: hidden;
}
#middlesection h3 {
    color: red;
    font-size: 28px;
}
#middlesection p {
    color: black;
    font-weight: bold;
    margin-top: -15px;
    font-size: 18px;
    text-align: center;


}

.btn_active {
    background: #e8491d;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    margin: 10px;
    border-radius: 10px;
}

.btn_active:hover {
    background: blue;
    cursor: pointer;
}

.btn_grey {
    background: grey;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    margin: 10px;
    border-radius: 10px;
}

#requestlist_container {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

#requestlist {
    width: 100%;
}

#requestlist, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

#requestlist th {
    background-color: #cccccc;
    padding: 5px;
    text-align: center;

}

#requestlist td {
    background-color: #eaeaea;
    padding: 5px;
    text-align: center;
}

#requestlist td div {
    margin: auto;
    text-align: center;
}

#requestlist td p {
    font-size: 15px;
    display: inline-block;
}

.d:hover {
    background-color: #ff8989;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.a:hover {
    background-color: lightgreen;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.red_background {
    background-color: red;
    background: red;
}


@media(max-width: 766px) {
    #index_title {
        color: #e8491d;
    }



}












